:root{
    --primary : #000;
    --secondary : rgb(24, 24 ,27);
    --border: rgba(63,63,70,0.4);
    --title: rgb(244 244 245);
    --subtitle: rgb(161 161 170);
    --bgHeader : rgb(39 39 42);
    --blue: rgb(93 188 252);
    --blueShadow :rgba(93, 188, 252, 0.24);
}
header{
    padding: 20px;
}
header nav ul  {
background-color: var(--bgHeader);
padding: 10px;
border-radius: 30px;
box-shadow: 1px 1px 40px var(--blueShadow);
border: 1px solid var(--border);
display: flex;
justify-content: center;
align-items: center;
}
header nav ul li {
    margin:0 10px;
    text-transform: capitalize;
}
header nav ul li a{
    color: var(--title);
    transition: 0.2s all;

}
header nav ul li a:hover{
    letter-spacing: 0.8px;
    color: var(--blue);
}
.btn-mode,.btn-toggle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #008080;
    background-color: var(--bgHeader);
    color: var(--title);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mode:hover,.btn-toggle:hover{
    opacity: 0.8;
}

.btn-close {
    background: transparent !important;
    border: none;
    transition: 0.5s;
    color: var(--title) !important;
    
}
.btn-close:hover{
    transform: rotate(360deg );
}

.div{
    display: block;
}
.btn-toggle{
    display: none;
}
button{
    cursor: pointer;
}

.fixed{
    position: fixed;
    inset: 0;
    background-color: rgba(40, 40, 48, 0.91);
    animation: fixedIn .5s 1;
    overflow: hidden;
    backdrop-filter: blur(8px);
    z-index: 10;
}
.fixed ul{
    width: 60%;
    margin: 20px auto;
    background-color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 1rem;
    color: #fff;
    padding: 20px;
}
.fixed ul li{
    padding: 10px 0;
}
.fixed ul li:not(:last-of-type){
    border-bottom: 1px solid #333;
}
.fixed ul li:first-child{
    text-align: right;
    border-bottom: none;
}

.fixed ul li a{
    color:  #fff;
    text-transform: capitalize;
    font-weight: bolder;
    transition: all 0.2s;
}
.fixed ul li a:hover{
    color: var(--blue);
    letter-spacing: 1px;
}
.ani-mod svg{
    width: 50px !important;
}
@keyframes fixedIn {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@media (max-width:700px){
    header nav ul{
        display: none !important;
    }
    .btn-toggle{
        display: block !important;
    }
    .div{
        display: none !important;
    }
}